.online{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}